@keyframes bgDynamic{
    0%{
        background-size: 200% 200%;
        background-position: 0% 0%;
    }
    100%{
        background-size: 300% 300%;
        background-position: 100% 50%;
    }
}

@keyframes translateRight{
    0%{
        left: -150%
    }
    100%{
        left: 300%
    }
}
@keyframes translateBottom{
    0%{
        top: -150%
    }
    100%{
        top: 300%
    }
}
@keyframes translateLeft{
    0%{
        right: -150%
    }
    100%{
        right: 300%
    }
}
@keyframes translateTop{
    0%{
        bottom: -150%
    }
    100%{
        bottom: 300%
    }
}

@keyframes deletebutton {
    0%{
        background-color: rgb(255, 29, 29);
    }
    100%{
        background-color: rgb(114, 0, 0);
    }
}

@keyframes colorFontButton {
    0%{
        color: rgb(0, 255, 170);
    }
    50%{
        color: rgb(0, 255, 255);
    }
    100%{
        color: rgb(0, 132, 255);
    }
}


